<a href="https://colab.research.google.com/github/FANTASY000666/PANDAS/blob/main/pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [92]:
import numpy as np
import pandas as pd

*creating* a dataframe (10 cells)

In [93]:
# create a 5x2 array this respresents the 10 cells to hold the data
my_data = np.array([[5,2], [10,1], [3,2], [11,8], [3,9]])

# create a python list that holds the names of the two colums
my_column_names = ['Temperature', 'Activity']

# create a dataframe containing the data and the columns titles
my_data_frame = pd.DataFrame(data = my_data, columns = my_column_names)

#print the dataframe
print(my_data_frame)

   Temperature  Activity
0            5         2
1           10         1
2            3         2
3           11         8
4            3         9

adding a new column to the dataset

In [94]:
# create a new column called adjusted(value in activity + 2) in the dataframe my_data_frame
my_data_frame["Adjusted"] = my_data_frame["Activity"] + 2
# print the new dataframe
print(my_data_frame)

   Temperature  Activity  Adjusted
0            5         2         4
1           10         1         3
2            3         2         4
3           11         8        10
4            3         9        11

In [95]:
# create a new column called Rewired and specify its values in an list
my_data_frame["Rewired"] = (1, 2, 3, 4, 5)
print(my_data_frame)

   Temperature  Activity  Adjusted  Rewired
0            5         2         4        1
1           10         1         3        2
2            3         2         4        3
3           11         8        10        4
4            3         9        11        5

Specifying a subset of a dataframe. Pandas provide multiples ways to isolate specific rows, columns, slices or cells in a DataFrame.

In [96]:
print("Rows #0, #1, and #2:") # this line prints a message
print(my_data_frame.head(3), '\n') # .head function is used to retrieve the first n rows of a dataframe this specific prints the first 3 rows of the dataframe
print(my_data_frame.head(1), '\n') # this prints only the first row
print("Row #2:")
print(my_data_frame.iloc[[2]], '\n') #The "iloc" function is used to select rows by their integer position.
print(my_data_frame.iloc[[3]], '\n') # This line of code selects and pronts row with index 3
print(my_data_frame.iloc[[0]], '\n') # This line of code selects and prints row with index 0
print("Rows #1, #2, and #3:")
print(my_data_frame[1:4], '\n') # This code prints the rows with indices 1, 2, and 3 (excluding 4) using slicing.
print("Column 'Temperature':")
print(my_data_frame['Temperature']) # This code prints the values in the 'temperature' column of the DataFrame.

Rows #0, #1, and #2:
   Temperature  Activity  Adjusted  Rewired
0            5         2         4        1
1           10         1         3        2
2            3         2         4        3

   Temperature  Activity  Adjusted  Rewired
0            5         2         4        1

Row #2:
   Temperature  Activity  Adjusted  Rewired
2            3         2         4        3

   Temperature  Activity  Adjusted  Rewired
3           11         8        10        4

   Temperature  Activity  Adjusted  Rewired
0            5         2         4        1

Rows #1, #2, and #3:
   Temperature  Activity  Adjusted  Rewired
1           10         1         3        2
2            3         2         4        3
3           11         8        10        4

Column 'Temperature':
0     5
1    10
2     3
3    11
4     3
Name: Temperature, dtype: int64



>Task 1

In [97]:
my_column_names = ('Eleanor', 'Chidi', 'Tahani', 'Jason')
myData = np.array([[20, 33, 70, 100], [21, 33, 43, 99], [33, 48, 99, 67]])
MyDataFrame = pd.DataFrame(data = myData, columns = my_column_names)
print(MyDataFrame, '\n')

print("Printing the value at a specific cell in a column")
print(MyDataFrame.at[0, 'Eleanor'], '\n')

print("Creating a fifth column")
MyDataFrame["Janet"] = MyDataFrame['Tahani'] + MyDataFrame['Jason']
print(MyDataFrame)

   Eleanor  Chidi  Tahani  Jason
0       20     33      70    100
1       21     33      43     99
2       33     48      99     67

Printing the value at a specific cell in a column
20

Creating a fifth column
   Eleanor  Chidi  Tahani  Jason  Janet
0       20     33      70    100    170
1       21     33      43     99    142
2       33     48      99     67    166

***Duplicating a dataset***

Referencing. If you assign a DataFrame to a new variable, any change to the DataFrame or to the new variable will be reflected in the other.

Copying. If you call the pd.DataFrame.copy method, you create a true independent copy. Changes to the original DataFrame or to the copy will not be reflected in the other.
The difference is subtle, but important.

In [98]:
# Referencing
print("Experiment with a reference:")
reference_to_MyDataFrame = MyDataFrame

# Printing the start value at a particular cell
print("  Starting value of MyDataFrame: %d" % MyDataFrame.at[1, 'Jason'])
print("  Starting value of reference_to_MyDataFrame: %d" % reference_to_MyDataFrame.at[1, 'Jason'], '\n')

# modifying a particular cell in MyDataFrame
MyDataFrame.at[1, 'Jason'] = MyDataFrame.at[1, 'Jason'] + 5
print(" Cell 2 at column Jason of MyDataFrame: %d" % MyDataFrame.at[1, 'Jason'])
print(" Cell 2 at column Jason of reference_to_MyDataFrame: %d" % reference_to_MyDataFrame.at[1, 'Jason'], '\n')

# modifying a particular cell in MyDataFrame 2
MyDataFrame.at[2, 'Jason'] = reference_to_MyDataFrame.at[2, 'Jason'] + 10
print(" Cell 3 at column Jason of MyDataFrame: %d" % MyDataFrame.at[2, 'Jason'])
print(" Cell 3 at column Jason of MyDataFrame: %d" % reference_to_MyDataFrame.at[2, 'Jason'], '\n')

# creating a true copy of a Dataframe.
print(" Creating a True copy of a Database ")
copy_of_MyDataFrame = MyDataFrame.copy()

print("  Starting value of MyDataFrame: %d" % MyDataFrame.at[1, 'Chidi'])
print("  Starting value of copy_of_MyDataFrame: %d\n" % copy_of_MyDataFrame.at[1, 'Chidi'], '\n')

# changes to MyDataFrame don't Affect changed to copy_of_MyDataFrame.
MyDataFrame.at[1,'Chidi'] = MyDataFrame.at[1, 'Chidi'] + 10
print("Cell 2 at column Chidi of MyDataFrame: %d" % MyDataFrame.at[1, 'Chidi'])
print("Cell 2 at column Chidi of copy_of_MyDataFrame: %d" % copy_of_MyDataFrame.at[1, 'Chidi'])

# lines of code below updates the copy of MydataFrame to values in the new changed DataFrame.
copy_of_MyDataFrame.update(MyDataFrame)
print(copy_of_MyDataFrame, '\n')

#Modifying a Cell in MyDataFrame using copy_of_MyDataFrame.
MyDataFrame.at[2, 'Chidi'] = copy_of_MyDataFrame.at[2, 'Chidi'] + 5
print("Cell 3 at column Chidi of MyDataFrame: %d" % MyDataFrame.at[2, 'Chidi'])
print("Cell 3 at column Chidi of copy_of_MyDataFrame: %d" % copy_of_MyDataFrame.at[2, 'Chidi'])
# This only changes the value in Cell 3 of  MyDataFrame but not in Cell 3 of copy_of_MyDataFrame

Experiment with a reference:
  Starting value of MyDataFrame: 99
  Starting value of reference_to_MyDataFrame: 99

 Cell 2 at column Jason of MyDataFrame: 104
 Cell 2 at column Jason of reference_to_MyDataFrame: 104

 Cell 3 at column Jason of MyDataFrame: 77
 Cell 3 at column Jason of MyDataFrame: 77

 Creating a True copy of a Database
  Starting value of MyDataFrame: 33
  Starting value of copy_of_MyDataFrame: 33


Cell 2 at column Chidi of MyDataFrame: 43
Cell 2 at column Chidi of copy_of_MyDataFrame: 33
   Eleanor  Chidi  Tahani  Jason  Janet
0       20     33      70    100    170
1       21     43      43    104    142
2       33     48      99     77    166

Cell 3 at column Chidi of MyDataFrame: 53
Cell 3 at column Chidi of copy_of_MyDataFrame: 48